
.new-book-link {
  border: 1px solid blue;
  padding: 14px;
  border-radius: 4px;
  background-color: blue;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
